.box_direita {
    border: 1px solid black;
    width: 24rem;
    height: 9rem;
    overflow: hidden; 
    font-size: small; 
    text-align: end;
    width: 197.45px;
    height: 167.01999999999998px;
    margin-bottom: 3rem;
    margin-left: 2rem;
}



.box_direita p{
    overflow-wrap: unset;


}

.box_direita div {
 padding-top: 4rem
}


.box_direita h1 {
    color: green;
    font-size: x-large;
}


