.dropg {
    color: rgb(255, 255, 255);
    background: rgba(240, 121, 96, 0.49);
    border-radius: 10px 0 0 10px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 23%;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    color: white;
    padding-right: 8rem;
    font-size: small;
    /* position: absolute; */
    /* width: inherit; */
    height: -moz-fit-content;
    height: fit-content;
    margin-top: -91px;

}

.dropm {
    width: inherit;
    height: auto;
    margin-top: auto;
    position: relative;

}




.dropg:hover {
    height: auto;
    /* width: 790px; */
    background: rgba(240, 121, 96);
    cursor: url(handwriten.png), auto;
    min-height: 18%;
}

.drop h4 {
    text-align: start;
    margin-top: 13px;
    margin-bottom: 1px;
    font-size: large;
}

.profile {
    width: 3rem;
    border: 2px;
    border: solid;
    border-radius: 20px;
    height: 3rem;
    margin-left: 8px;
    margin-top: 8px;
    margin-right: 10px;
}

.m {
    /* padding-right: 1rem; */
    font-size: smaller;
}