.pagehome{
    display: flex;
    /* justify-content: center; */
    margin-right: 5rem;
    display: grid;
    /* justify-items: center; */
    padding-top: 3.3rem;
}



.ballon_words{
    
    list-style: none;
    display: inline-flex;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


@media (max-width: 990px)
{
  .hgs
   {
    display: none;
   }
   .pagehome{
    margin-right: 0;
   }
}



@media (max-width: 750px){

.side{
    height: 280px;
   }

   .drop{
    padding-right: 3rem;
   font-size: xx-small;   
   }
   .drop h4{
    font-size: 15px;   
   }


   .pagehome{
    margin-right: 0;
   }

   .m{
    width: 250px;
    height: 210px;
   }

}


@media (max-width: 600px){


       .m{
        display: none;
       }
    
    }


    @media (max-width: 450px){

        .cont{
            width:72%;
        }



        .gap-5{
            margin: 0;
        }
    }