.cont {
    display: flex;
    width: 62%;
    /* width: 550px; */
    height: auto;
    /* left: 288px;
    top: 245px; */
    background: #896d6d;
    border-radius: 10px;
    /* margin: 40px; */
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-self: center;
}


.pagehome {
    display: flex;
    justify-content: space-around;
    margin-right: 5rem;
    
}




.m {
    width: 340px;
    height: 254px;
    margin-right: 1.5rem;
    margin-left: 0.5rem;

}