.margin {
    margin-top: 9rem
}

.op {
    padding-top:3rem;
    display: inline-flex;
    list-style: none;
    width: 608px;
    justify-content: space-between;
    margin-bottom: 9rem;
}